/* Import external fonts and normalize styles */
@import url("https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

:root {
  // colors
  --col-white: #fff;
  --col-off-white: #f2f2f2;
  --col-blk: #000;

  --col-dark: #1c1c1a;
  --col-light-dark: #2f2f2f;

  --col-gray: #595959;
  --col-gray-soft: #eaeaea;
  --col-gray-md: #acacac;
  --col-gray-dark: #8b8b8b;

  --col-succes: #7aaf44;
  --col-danger: #ba313e;

  //font size
  --fs-12: 1.2rem;
  --fs-14: 1.4rem;
  --fs-16: 1.6rem;
  --fs-18: 1.8rem;
  --fs-22: 2.2rem;
  --fs-24: 2.4rem;
  --fs-32: 3.2rem;
  --fs-40: 4rem;

  //font weight
  --fw-100: 100;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-700: 700;
  --fw-900: 900;

  // border radius
  --brd-r-sm: 0.8rem;
  --brd-r-md: 1.2rem;
  --brd-r-lg: 1.6rem;
  --brd-r-xl: 2.4rem;

  //line height

  //font style
  --f-st-upper: uppercase;
  --f-st-capt: capitalize;
  --f-st-norm: normal;

  // line height
  --line-15: 1.5rem;
  --line-20: 2rem;
  --line-24: 2.38rem;
  --line-27: 2.72rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-family: "Noto Kufi Arabic", sans-serif;
  font-style: normal;
  line-height: 1.6;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-size: 1.6rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* App Container */
#app {
  min-height: 100vh;
  margin: 0 auto;
}

.container {
  max-width: 120rem !important;
  padding: 1rem 0;
}

/* Links */
a:link,
a:visited {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease;
  color: var(--col-white) !important;
}

/* Form Elements */
input:focus {
  outline: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

// dropdown menu
.dropdown-menu {
  .dropdown-item {
  }
}

/* Flexbox Utilities */
.flx-c {
  display: flex;
  flex-direction: column;
}

.flx-r {
  display: flex;
  flex-direction: row;
}

/* Grid Utilities */
.grd {
  display: grid;
  gap: 3.2rem;
}

.grd-2-col {
  grid-template-columns: repeat(2, 1fr);
}

.grd-3-col {
  grid-template-columns: repeat(3, 1fr);
}

.grd-4-col {
  grid-template-columns: repeat(4, 1fr);
}

/* Navbar */
.main-nav {
  width: 100% !important;
  backdrop-filter: brightness(0.9) blur(16px);
  z-index: 999;

  .nav-link {
    font-weight: var(--fw-400);
    font-size: var(--fs-14);
    line-height: var(--line-24);
  }
}

/*Reponsive Navbar */
.responsive-nav {
  .resp-nav {
    width: 100% !important;
    backdrop-filter: brightness(0.9) blur(16px);
    z-index: 999;
  }

  .navbar-items {
    margin-top: 10rem;
    overflow: auto;
    padding-inline-start: 2rem !important;
    list-style: none;
    backdrop-filter: blur(1px);

    .nav-link {
      font-weight: var(--fw-400);
      font-size: var(--fs-16);
      line-height: var(--line-27);
      margin-bottom: 5rem;
      color: var(--col-white);
    }

    .nav-sub-item {
      font-weight: var(--fw-400);
      font-size: var(--fs-12);
      line-height: var(--line-20);
      color: var(--col-white);
    }
  }
}

/**********************/
/*   footer section   */
/********************/
footer.full-footer {
  position: relative;
  background-color: #151516;

  .footer--info {
    padding: 5rem 1rem;
    grid-template-columns: 2fr 1fr 1fr 1fr;

    .footer-heading {
      font-size: var(--fs-14);
      color: #8b8b8b;
      font-weight: 600;
      margin-bottom: 3rem;
      line-height: var(--line-20);
      cursor: context-menu;
    }

    .footer-link,
    .footer-link--add:link,
    .footer-link,
    .footer-link--add:visited {
      color: var(--col-white);
    }

    .footer-link,
    .footer-link--add:hover,
    .footer-link,
    .footer-link--add:active {
      color: var(--col-white);
    }

    .footer-nav {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 1.8rem;
      font-size: var(--fs-12);
      font-weight: var(--fw-400);
    }

    .logo-col--hint {
      color: #505056;
      line-height: var(--line-20);
      font-size: var(--fs-12);
      font-weight: var(--fw-400);
      color: var(--col-white);
      margin-top: 2.4rem;
      text-align: justify;
      padding-inline-end: 7rem;
      cursor: context-menu;
    }

    .social-icons {
      list-style: none;
      display: flex;
      flex-direction: row;
      gap: 1.8rem;

      .social-icon:link,
      .social-icon:visited {
        text-align: center;
        margin-top: 2rem;
      }
    }
  }

  .footer--terms {
    border-top: 1px solid #59595933;

    .terms-item {
      padding-top: 1rem;
      font-size: var(--fs-12);
      font-weight: var(--fw-400);
      color: var(--col-white);
    }

    .link {
      text-decoration: underline !important;
    }
  }
}

/**********************/
/*footer responsive section*/
/********************/
footer.resp-footer {
  background-color: #151516;
  .footer-img {
    position: relative;
    .footer-resp--text {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .footer-col {
    padding-bottom: 1rem !important;

    .resp-items--hint {
      color: #505056;
      line-height: var(--line-20);
      font-size: var(--fs-12);
      font-weight: var(--fw-400);
      color: var(--col-white);
      margin: 2.4rem 0;
      text-align: justify;
      cursor: context-menu;
    }

    .resp-items {
      list-style: none;
      margin: 3rem 0;

      .resp-items--title {
        color: var(--col-gray-dark);
        font-size: var(--fs-14);
        line-height: var(--line-20);
        font-weight: var(--fw-500);
      }

      .nav-sub-item {
        color: var(--col-white);
        font-size: var(--fs-12);
        line-height: var(--line-20);
        font-weight: var(--fw-400);
      }
    }

    .social-icons {
      margin: 1rem 0;
      list-style: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 1.8rem;

      .social-icon:link,
      .social-icon:visited {
        text-align: center;
        margin-top: 2rem;
      }
    }
  }

  .footer-resp--terms {
    text-align: center;
    color: var(--col-white) !important;
    font-size: var(--fs-12);
    padding: 2rem 0;
    border-top: 1px solid #59595933;

    .link {
      text-decoration: underline;
    }
  }
}
