/*all*/
@media (min-width: 84.1em) {
  body {
    background-color: rgba(255, 60, 0, 0.171) !important;
  }
}
/**************************/
/* BELOW 1344px (smaller desktops) */
/**************************/
@media (max-width: 84em) {
  body {
    background-color: yellow !important;
  }

  // about us
  .about-us-sec {
    .about-us--text {
      width: 40%;
    }
    .about-us--content {
      padding: 0 4rem;

      .about-us-title {
        font-size: var(--fs-32);
      }
      .about-us-parag {
        font-size: var(--fs-16);
      }
    }
  }
}

/**************************/
/* BELOW 1200px (landscape Tablets) */
/**************************/

@media (max-width: 75em) {
  /* html size to 9px */
  html {
    font-size: 56.25%;
  }
  body {
    background-color: rgb(21, 255, 0) !important;
  }
  // about us
  .about-us-sec {
    .about-us--text {
      width: 60%;
    }
    .about-us--content {
      padding: 0 4rem;

      .about-us-title {
        font-size: var(--fs-32);
      }
      .about-us-parag {
        font-size: var(--fs-16);
      }
    }
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  html {
    /* 9px / 16px = 0.65 = 56.25% */
    font-size: 56.25%;
  }
  body {
    background-color: rgb(255, 0, 149) !important;
  }
  /************************/
  /*       globacl       */
  /************************/
  .head-primary {
    font-size: var(--fs-32);
    line-height: var(--line-54);
  }

  .body-desc-primary {
    font-size: var(--fs-14);
    line-height: var(--line-23);
  }

  /*hero section*/
  .hero-section {
    height: 63rem;
    .slider-box {
      .hero-text {
        padding: 0 4rem;
        .hero-text-box {
          height: 100%;
          width: 100%;
          align-items: center;
          gap: 1rem;
          .hero-desc {
            width: 70%;
          }
        }
      }
    }
  }
  .legal-expertise {
    width: 95%;
    .expertise-text {
      text-align: center;
    }
  }
  // about us
  .about-us-sec {
    .about-us--text {
      width: 80%;
      right: 10%;
    }
    .about-us--content {
      padding: 0 4rem;
      text-align: center;

      .about-us-title {
        font-size: var(--fs-20);
      }
      .about-us-parag {
        font-size: var(--fs-12);
      }
    }
  }
  .footer--text {
    .footer-text {
      width: 90% !important;
    }
  }
}

/**************************/
/* BELOW 768px (Smaller tablets) */
/**************************/

@media (max-width: 48em) {
  body {
    background-color: rgb(255, 0, 0) !important;
  }
  // html {
  //   /* 8px / 16px = 0.5 = 50% */
  //   font-size: 50%;
  // }
  html {
    font-size: 62.5%;
  }
  .grd {
    gap: 1.5rem !important;
  }
  // nav bar
  .main-nav {
    .nav-link {
      font-size: var(--fs-9);
    }
  }
  // about us
  .about-us-sec {
    height: 63rem;
    background-color: var(--col-dark);
    .about-us--text {
      display: none;
    }
  }
  .logo-col--hint {
    padding-inline-end: 5rem !important;
  }
  .footer--text {
    .footer-text {
      width: 90% !important;
    }
  }
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 36em) {
  html {
    font-size: 62.5%;
  }
  body {
    background-color: rgb(0, 247, 255) !important;
  }

  /*hero section*/
  .hero-section {
    height: 56.3rem;
    .slider-box {
      .hero-text {
        padding: 0 2rem;
        .hero-text-box {
          gap: 1rem;
          .hero-desc {
            width: 100%;
          }
        }
      }
    }
  } /*hero section*/
  .legal-expertise {
    width: 95%;
    .expertise-text {
      width: 80%;
    }
  }
}
